:root {
  --color-red: #F21F30;
  --color-yellow: #F5B120;
  --color-orange: #F9622B;
  --color-purple: #641E50;
  --color-beige: #FEF9F2;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #B3ADA5;
}